.form {
  position: absolute;
  top: 35px;
  left: 320px;
  background-color: var(--bg);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  z-index: 10;
}
