:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --white: #ffffff;
  --primary: #4c864c;
  --bg: #00a884;
  --bg-main: #202c33;
  --bg-inverse: #2a3942;
  --bg-inverse-hover: #354752;
  --dark: #1d251f;
  --line: #465f6e;
}

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
p,
h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
}

h1 {
  line-height: 1.1;
}

#root {
  height: 100%;
}

fieldset {
  border: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

.recived {
  align-self: flex-start;
  border-radius: 10px 10px 10px 0;
}

.sended {
  border-radius: 10px 10px 0 10px;
}

.active {
  background-color: var(--bg-inverse-hover);
}

.logout {
  position: absolute;
  z-index: 5;
  top: -1px;
  left: -90px;
}
